<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>CMC - About</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/img/logo/cmc_logo.png" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="/vendor/owl.carousel/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/vendor/owl.carousel/assets/owl.theme.default.min.css"
    />
    <link rel="stylesheet" href="/vendor/font-awesome/all.min.css" />
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />

    <!-- Template Main CSS File -->
    <link href="/css/mainstyle.css" rel="stylesheet" />
    <link href="/css/footer.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/testimonial.css" />
    <link rel="stylesheet" href="/css/strip_carousel.css" />
    <link rel="stylesheet" href="/css/faculty.css" />
    <!--For About Page inlcude-->
    <link rel="stylesheet" href="/css/team.css" />
    <!--For Signup page include-->
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <style>
    .float {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      /* right: 40px; */
      background-color: #25d366;
      color: #fff;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
    }

    .my-float {
      margin-top: 16px;
    }
    .Indian_flag {
      width: 300px;
      height: 200px;
      object-fit: contain;
      position: absolute;
      right: 20px;
      bottom: -40px;
    }
    .footer {
      position: relative;
    }
  </style>

  <body>
    <!--HEADER ABOVE BAR SECTION-->

    <!--HEADER MAIN-->
    <%- include('partial/header'); %>

    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>About</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>About</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container-fluid" style="padding: 0px 40px">
          <div class="row content">
            <div class="col-lg-6">
              <h2>
                CMC Maritime Academy <span style="color: black">CHENNAI</span>
              </h2>
              <h3 style="color: #035096">Mission</h3>
              <ul>
                <li>
                  <i class="fas fa-anchor"></i> To provide goal-oriented,
                  quality-based and value added education through
                  state-of-the-art technology at par with International
                  Standards
                </li>
                <li>
                  <i class="fas fa-anchor"></i> To prepare the students with
                  high professional skills and ethical values
                </li>
                <li>
                  <i class="fas fa-anchor"></i> To impart knowledge through best
                  practices
                </li>
                <li>
                  <i class="fas fa-anchor"></i> To undertake continuous
                  assessment and remedial measures
                </li>
              </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p style="line-height: 2">
                CMC Maritime Academy is situated in the Heart of the City,
                Vepery, Chennai. Established in 2012 and approved by Directorate
                General of Shipping, Govt. of India, we offer the best post-sea
                courses for seafarers keeping pace with the rapid evolution of
                shipping industry, technological advances to produce seaman with
                specialized and upgraded skills.
              </p>
              <h3 style="color: #035096">Vision</h3>
              <ul>
                <li>
                  <i class="fas fa-anchor"></i> We aim for 100% successful
                  trainees in all qualifying examinations.
                </li>
                <li>
                  <i class="fas fa-anchor"></i> We ensure a pleasant and happy
                  family environment in our college campus with our professional
                  with harmonious approach in solving complaints/ grievances.
                </li>
              </ul>
              <p class="font-italic"></p>
            </div>
          </div>

          <div class="row content mt-5">
            <div class="col-lg-6">
              <h3 style="color: #035096">Objective</h3>
              <p style="line-height: 2">
                Our objective is to impart our student's community with
                knowledge and skills along with marine culture by way of
              </p>
              <ul>
                <li><i class="fas fa-anchor"></i> Professionalism</li>
                <li><i class="fas fa-anchor"></i> Communication skills</li>
                <li>
                  <i class="fas fa-anchor"></i> Officer Like Quality skills -
                  using modern teaching methodology
                </li>
              </ul>
            </div>

            <!-- <div class="col-lg-6 pt-4 pt-lg-0">
            <img src="/img/ad.jpg" class="img-fluid" alt="">
          </div> -->
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Our Skills Section ======= -->
      <section id="skills" class="skills strip-bg">
        <div class="section-title container-fluid" style="padding: 0px 40px">
          <h2>Training</h2>
          <p class="text-light">Check our skills</p>
        </div>
        <div class="wrapper noselect container">
          <div class="strip-carousel" id="mostviewed">
            <div class="arrow-left">&lsaquo;</div>
            <div class="arrow-right">&rsaquo;</div>

            <div class="frames">
              <a href="https://youtu.be/YfDFKgGNP6s">
                <div class="frame"></div>
              </a>
              <a href="#">
                <div class="frame"></div>
              </a>
              <a href="#">
                <div class="frame"></div>
              </a>
              <a href="#">
                <div class="frame"></div>
              </a>
              <a href="#">
                <div class="frame"></div>
              </a>

              <a href="#">
                <div class="frame"></div>
              </a>
              <a href="#">
                <div class="frame"></div>
              </a>
              <a href="#">
                <div class="frame"></div>
              </a>
              <a href="#">
                <div class="frame"></div>
              </a>
              <a href="#">
                <div class="frame"></div>
              </a>

              <a href="#">
                <div class="frame"></div>
              </a>
              <a href="#">
                <div class="frame"></div>
              </a>
              <a href="#">
                <div class="frame"></div>
              </a>
              <a href="#">
                <div class="frame"></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Our Skills Section -->

      <!-- <section id="team">
      <div class="container">
        <div class="section-title">
          <h2 class="text-dark">Our Team</h2>
          <span>Faculty</span>
        </div>
      </div>
      <div class="container-team">
        <div class="row">
       
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src=" http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt="">
                </figure>
                <h3>Mr.Vishwasmehendale</h3>
                <span class="font-weight-bold">Chief Engineer</span>
                <p class="m-0">Have sailed as a Marine Engineer from 1985 to 2010, out of which 16 yrs as Chief Engineer
                  on Oil Tankers & Bulk Carriers. Have been teaching full time since 2010 at a Maritime Institute for
                  Pre Sea Courses. Since Dec 2020, a faculty in CMC Chennai.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
         
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src=" http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt="">
                </figure>
                <h3>R.Gurumurthy</h3>
                <span class="font-weight-bold">Chief Engineer</span>
                <p class="m-0">Have sailed as a Marine Engineer from 1985 to 2010, out of which 16 yrs as Chief Engineer
                  on Oil Tankers & Bulk Carriers. Have been teaching full time since 2010 at a Maritime Institute for
                  Pre Sea Courses. Since Dec 2020, a faculty in CMC Chennai.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
        
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src=" http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt="">
                </figure>
                <h3>S. Venugopal</h3>
                <span class="font-weight-bold">Chief Engineer</span>
                <p class="m-0">32 years Sailing experience, out of that 24 years as Chief Engineer on board ships of
                  Bulk carriers, Container vessels , Reefer ships and Tankers. Teaching experience 11 years at Pre sea
                  and Post sea courses.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
       
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src=" http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt="">
                </figure>
                <h3>Capt.R.G.Bamboat</h3>
                <span class="font-weight-bold">Master</span>
                <p class="m-0">Completed Pre-sea training in T S Jawahar in Sep 1997. Joined sea in Jan 1998. Completed
                  Masters FG COC in 2006.
                  Taught in Commander Ali's Academy of Merchant Navy Studies (CAAMNS) Hyderabad, in 2008. External
                  examiner also in same year. Taught as permanent faculty in CMC Maritime Academy Chennai from Aug 2016
                  to May 2017. Teaching in CMC Chennai Online classes since Oct 2020.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
         
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src=" http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt="">
                </figure>
                <h3>K.S.Thyagarajan</h3>
                <span class="font-weight-bold">Chief Engineer</span>
                <p class="m-0">25 years Sailing experience of which, served as Chief Engineer for 14 years.
                  During my leaves in 2017, I was visiting Faculty at SAMS MARINE College for 1 complete semester.
                  I was visiting faculty at CMC in 2014. Since Nov 2020 as visiting faculty in CMC.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
        
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src=" http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt="">
                </figure>
                <h3>MrA.M.Ramakrishnan</h3>
                <span class="font-weight-bold">Second Engineer</span>
                <p class="m-0">Graduated in Mechanical Engineering In 1986 from CIT, Coimbatore.
                  More than 2 decades sailed on many vessels and mainly on Oil & Chemical Tankers.
                  Presently as a C/E in a Passengership.
                  4.5 years of Teaching Experience.
                  Course coordinator for value added courses like Pumpman course & Trainee Fitter Course in CMCMA.
                  Fellow Member in Institute of Marine Engineers India.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
         
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src=" http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt="">
                </figure>
                <h3>Capt.Namrata Singh</h3>
                <span class="font-weight-bold">Master</span>
                <p class="m-0">Sailed with The SCI Ltd
                  Sailed on oil tanker, product tanker, container ship, research vessel, bulk carrier and passenger
                  ship.
                  Joined sea in 2003.Last sailed on 2017.
                  Joined CMC in March 2021 as faculty.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
         
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src=" http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt="">
                </figure>
                <h3>Capt. P. N. Kalyanasundaram</h3>
                <span class="font-weight-bold">Master</span>
                <p class="m-0">1975-1976 Rajendra batch, sailing on board mostly oil tankers ever since, staying ashore
                  for the last one year and teaching at CMC since Feb 2021.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
         
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight"">
                <figure><img src=" http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt="">
                </figure>
                <h3>Mr. Amborse Browin Poobalarayer</h3>
                <span class="font-weight-bold">X Bosun</span>
                <p class="m-0">Sailing experience 14 years, 6 years in ETA Shipping, 8 years in Anglo Eastern Shipping
                  ltd and working as Instructor in CMC Maritime Academy Chennai for 2 years</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>
         
          <div class="col-12 col-md-6 col-lg-3">
            <div class="team-card">
              <div class="cnt-block equal-hight">
                <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
                <h3>Capt.C. Vijayakumar</h3>
                <span class="font-weight-bold">Master</span>
                <p class="m-0">I have a Diploma in Nautical Science and had been sailing on Oil/Chemical tankers and
                  parcel tankers. I used to teach pre-sea students and also had a stint as Quality Superintendent in a
                  ship management company before joining CMC as faculty.</p>
              </div>
              <div class="card-wave">
                <div class="wave wave1"></div>
                <div class="wave wave2"></div>
                <div class="wave wave3"></div>
                <div class="wave wave4"></div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </section> -->
    </main>

    <section class="footer-wave team-footer">
      <img src="/img/ship_footer.png" class="ship" alt="" />
      <div class="wave wave1"></div>
      <div class="wave wave2"></div>
      <div class="wave wave3"></div>
      <div class="wave wave4"></div>
    </section>
    <!-- ======== Footer =========== -->
    <section id="footer">
      <div class="footer-top">
        <div class="container-fluid footer" style="padding: 0px 40px">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>CMC Maritime Academy</h3>
                <p>
                  The Taj, New No. 70, Old No. 29,<br />
                  Block 'C', 3rd Floor,<br />
                  Ritherdon Road, Vepery,<br />
                  Chennai - 600 007. Tamil Nadu.<br /><br />
                </p>
                <div class="phone">
                  <a href="tel:+919445031188">
                    <p>+91 94450 31188</p>
                  </a>
                  <a href="tel:+917305150111">
                    <p>+91 73051 50111</p>
                  </a>
                  <a href="tel:+919843655985">
                    <p>+91 98436 55985</p>
                  </a>
                  <a href="tel:+9104442691188">
                    <p>+91 044-42691188</p>
                  </a>
                  <a href="tel:+9104442651199">
                    <p>+91 044-42651199</p>
                  </a>
                </div>
                <a class="ph" href="mailto:admission@cmcacademy.ac.in"
                  ><strong
                    ><img
                      src="/img/icon/envelope-solid.svg"
                      height="14px"
                      alt=""
                    />
                  </strong>
                  admission@cmcacademy.ac.in</a
                >

                <div class="social-links mt-3">
                  <a href="#" class="twitter"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                  <a href="#" class="google-plus"
                    ><i class="fa fa-google"></i
                  ></a>
                  <a
                    href="https://www.facebook.com/cmcchennaiofficial"
                    class="facebook"
                    ><i class="fa fa-facebook"></i
                  ></a>
                  <a
                    href="https://www.instagram.com/cmc_maritime_academy_chennai/"
                    class="instagram"
                    ><i class="fa fa-instagram"></i
                  ></a>
                  <a
                    href="https://www.youtube.com/channel/UCpLhH2j93cbeEz1vLS5c4pQ/featured"
                    class="youtube"
                    ><i class="fa fa-youtube" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="fa fa-angle-right mr-1"></i> <a href="/">Home</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/about">About us</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/login">Login</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/testimonials">Testimonials</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Academic</h4>
              <ul>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/academic">Infrastructure</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/team">Faculties</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/academic">Rules and Regulations</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/academic">FAQ</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Courses</h4>
              <ul id="coursename">
                <!-- <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Basic</a></li>
          <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Advanced</a></li>
          <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Packages</a></li> -->
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Policy</h4>
              <ul>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/policy#terms">Terms and Conditions</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/policy#refund">Refund Police</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/policy#privacy">Privacy Policy</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/policy#data">Data Policy</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/policy#copyright">Copyright</a>
                </li>
              </ul>
            </div>
          </div>
          <div >
            <!-- <img class=""  alt="kjb"/> -->
            <img src="/img/indian.png" alt="Indian flag" class="Indian_flag" >
            </div>
        </div>
        </div>
      </div>
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      />
      <a
        href="https://api.whatsapp.com/send?phone=919843655985&text=Help"
        class="float"
        target="_blank"
      >
        <i class="fa fa-whatsapp my-float"></i>
      </a>
    </section>

    <a href="#" class="back-to-top">
      <!--<i class="icofont-simple-up"></i>-->
      <img src="/img/steer.png" alt="" />
    </a>

    <!-- Vendor JS Files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/testimonial.js"></script>
    <script src="/js/text-testimonial.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/strip_carousel.js"></script>
    <script src="/js/faculty.js"></script>
    <!--For Academic page-->
    <script src="/js/academic_gal.js"></script>
  </body>

  <script>
    db.collection("category")
      .limit(6)
      .get()
      .then((snap) => {
        snap.forEach((doc) => {
          if (doc.data() != undefined) {
            if (doc.data().category !== "All") {
              document.getElementById("coursename").innerHTML += `
          <li id="${
            doc.data().category
          }" onclick='view(this.id)'><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">${
                doc.data().category
              }</a></li>
                `;
            }
          }
        });
      });
    view = (e) => {
      sessionStorage.setItem("courseid", e);
      window.location.replace("/dashboard");
    };
  </script>
  <script>
    document.body.style.zoom = "100%";
  </script>
</html>
