<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>CMC - ApplicationForm</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/logo/cmc_logo.png" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/all.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Template Main CSS File -->
    <link href="/css/mainstyle.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/testimonial.css">
    <link rel="stylesheet" href="/css/strip_carousel.css">
    <link rel="stylesheet" href="/css/faculty.css">
    <!--For About Page inlcude-->
    <link rel="stylesheet" href="/css/team.css">
    <!--For Signup page include-->
    <link rel="stylesheet" href="/css/signup.css">

    <link rel="stylesheet" href="/js/log/vendor/toaster/toaster/build/toastr.css">
    <script src="/js/log/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/log/vendor/toaster/toaster/build/toastr.min.js"></script>
    <script src="/js/log/toaster.js"></script>
</head>
<style>
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .btn {
        border: 1px solid #ced4da;
        color: gray;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 20px;
        font-weight: bold;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .btn-signup {
        color: white !important;
    }

    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        /* right: 40px; */
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }

    .my-float {
        margin-top: 16px;
    }
    .Indian_flag {
      width: 300px;
      height: 200px;
      object-fit: contain;
      position: absolute;
      right: 20px;
      bottom: -40px;
    }
    .footer {
      position: relative;
    }
</style>

<body>
    <%- include('partial/header'); %>

        <section id="signup" class="signup pb-0">
            <div class="container">
                <div class="row">
                    <!-- Registeration Form -->
                    <div class="col-md-12 ml-auto">
                        <div>
                            <h3 class="text-center mb-5">Application Form</h3>
                            <h4>Personal Details</h4>
                            <div class="main-menu-header">
                                <img class="img-80 img-radius" src="/img/profilepic.png" alt="User-Profile-Image"
                                    id="dashdppic" style="width: 70px;border-radius: 50%;
                                    height: 70px;
                                    margin: 10px;">
                            </div>
                            <div class="row">
                                <div id="errordiv" class="col-lg-12"></div>
                                <div class="input-group col-lg-6 mb-4">
                                    <input id="place" type="text" name="firstname" placeholder="Place Of Birth"
                                        class="form-control bg-white  border-md">
                                </div>

                                <div class="input-group col-lg-6 mb-4">
                                    <input id="country" type="text" name="firstname" placeholder="Country"
                                        class="form-control bg-white  border-md">
                                </div>

                                <!-- Email Address -->
                                <div class="input-group col-lg-12 mb-4">
                                    <textarea id="address" type="text" name="email" placeholder="Communication Address"
                                        class="form-control bg-white  border-md"></textarea>
                                </div>
                                <div class="input-group col-lg-4 mb-4">
                                    <input id="city" type="text" name="firstname" placeholder="City"
                                        class="form-control bg-white  border-md">
                                </div>
                                <div class="input-group col-lg-4 mb-4">
                                    <select name="" class="onLnFormTxtFld" id="state"
                                        style="width: 100%;border: 1px solid #ced4da;"
                                        class="form-control bg-white  border-md">
                                        <option value="">Select State</option>
                                        <option value="Andhra Pradesh">Andhra Pradesh</option>
                                        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                        <option value="Assam">Assam</option>
                                        <option value="Bihar">Bihar</option>
                                        <option value="Chhattisgarh">Chhattisgarh</option>
                                        <option value="Goa">Goa</option>
                                        <option value="Gujarat">Gujarat</option>
                                        <option value="Haryana">Haryana</option>
                                        <option value="Himachal Pradesh">Himachal Pradesh</option>
                                        <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                        <option value="Jharkhand">Jharkhand</option>
                                        <option value="Karnataka">Karnataka</option>
                                        <option value="Kerala">Kerala</option>
                                        <option value="Madhya Pradesh">Madhya Pradesh</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Manipur">Manipur</option>
                                        <option value="Meghalaya">Meghalaya</option>
                                        <option value="Mizoram">Mizoram</option>
                                        <option value="Nagaland">Nagaland</option>
                                        <option value="Odisha">Odisha</option>
                                        <option value="Punjab">Punjab</option>
                                        <option value="Rajasthan">Rajasthan</option>
                                        <option value="Sikkim">Sikkim</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                        <option value="Telangana">Telangana</option>
                                        <option value="Tripura">Tripura</option>
                                        <option value="Uttar Pradesh">Uttar Pradesh</option>
                                        <option value="Uttarakhand">Uttarakhand</option>
                                        <option value="West Bengal">West Bengal</option>
                                    </select>
                                </div>

                                <div class="input-group col-lg-4 mb-4">
                                    <input id="pincode" type="text" name="firstname" placeholder="Pincode"
                                        class="form-control bg-white  border-md">
                                </div>
                                <!-- INDOS Number -->

                            </div>
                            <h4>Professional Details</h4>
                            <div class="row">
                                <div class="input-group col-lg-6 mb-4">
                                    <input id="passport" type="tel" name="phone" placeholder="Passport Number"
                                        class="form-control bg-white border-md">
                                </div>
                                <div class="input-group col-lg-4 mb-4" style="margin-top: -15px;">
                                    <h6>Passport</h6><br>
                                    <input type="file" name="myfile" id="passportimg" />
                                </div>
                            </div>
                            <div class="input-group col-lg-12 mb-4" style="margin-left: -13px;">
                                <input id="indosnumber" type="tel" disabled name="phone" placeholder="Indos Number"
                                    class="form-control bg-white border-md">
                            </div>

                            <h4>Biometric Seafarers Identity Document (BSID)</h4>
                            <p style="color:#035096;font-weight: bold;">( Biometric Seafarers Identity Document (BSID)
                                is
                                mandatory for all
                                the D.G.Shipping
                                Approved Courses from 1st April 2023 )</p>
                            <div>

                                <input type=radio onchange="BSID(this.id)" id="yes" class="radio-input"
                                    name="radio-group">
                                <label for="rdo1" class="radio-label"> <span class="radio-border"></span> Yes
                                </label>

                                <input type=radio onchange="BSID(this.id)" id="no" class="radio-input"
                                    name="radio-group" checked>
                                <label for="rdo2" class="radio-label"><span class="radio-border"></span>No
                                </label>


                            </div>
                            <div class="row" id="BSIDdiv" style="display: none;">
                                <div class="input-group col-lg-6">
                                    <input id="bsidnumber" type="text" maxlength="9" name="firstname"
                                        placeholder="Biometric Seafarers Identity Document ( A00000000 )"
                                        class="form-control bg-white border-md">
                                </div>
                                <p class="ml-3" style="color: red;" id="bsiderror"></p>

                            </div>

                            <h4>Continuous Discharge Certificate (CDC)</h4>
                            <div>

                                <input type=radio onchange="cdc(this.id)" id="yes" class="radio-input"
                                    name="radio-group">
                                <label for="rdo1" class="radio-label"> <span class="radio-border"></span> Yes
                                </label>

                                <input type=radio onchange="cdc(this.id)" id="no" class="radio-input" name="radio-group"
                                    checked>
                                <label for="rdo2" class="radio-label"><span class="radio-border"></span>No
                                </label>


                            </div>
                            <div class="row" id="cdcdiv" style="display: none;">
                                <div class="input-group col-lg-6 mb-4">
                                    <input id="discharge" type="text" name="firstname"
                                        placeholder="Continuous Discharge Certificate (CDC)"
                                        class="form-control bg-white  border-md">
                                </div>
                                <div class="input-group col-lg-6 mb-4">
                                    <input type="file" name="myfile" id="dischargeimg" />
                                </div>
                            </div>
                            <h4>Certificate Of Competency Grade</h4>
                            <div>
                                <input type=radio onchange="grade(this.id)" id="yes" class="radio-input"
                                    name="radio-group">
                                <label for="rdo1" class="radio-label"> <span class="radio-border"></span> Yes
                                </label>

                                <input type=radio onchange="grade(this.id)" id="no" class="radio-input"
                                    name="radio-group" checked>
                                <label for="rdo2" class="radio-label"><span class="radio-border"></span>No
                                </label>
                            </div>
                            <div class="row" id="gradediv" style="display: none;">
                                <div class="input-group col-lg-6 mb-4">
                                    <input id="grade" type="text" name="firstname"
                                        placeholder="Certificate Of Competency Grade"
                                        class="form-control bg-white  border-md">

                                </div>
                                <div class="input-group col-lg-6 mb-4">
                                    <input id="gradenumber" type="text" name="firstname"
                                        placeholder="Certificate Of Competency Number"
                                        class="form-control bg-white  border-md">

                                </div>
                                <div class="input-group col-lg-6 mb-4">
                                    <input type="file" name="myfile" id="gradeimg" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group col-lg-4 mb-4">
                                    <h6>Medical Fitness Certificate</h6>
                                    <input type="file" name="myfile" id="medicalimg" />
                                </div>
                                <div class="input-group col-lg-4 mb-4">
                                    <h6>Previous Course Certificate</h6>
                                    <input type="file" name="myfile" id="previouscertificateimg" />
                                </div>
                                <div class="input-group col-lg-4 mb-4">
                                    <h6>Signature</h6>
                                    <input type="file" name="myfile" id="signatureimg" />
                                </div>
                            </div>
                            <h4>Sea Service</h4>
                            <div class="row">
                                <div class="input-group col-lg-4 mb-4">
                                    <input id="year" type="number" name="firstname" placeholder="Year"
                                        class="form-control bg-white  border-md">
                                </div>
                                <div class="input-group col-lg-4 mb-4">
                                    <input id="month" type="number" name="firstname" placeholder="Month"
                                        class="form-control bg-white  border-md">
                                </div>
                                <div class="input-group col-lg-4 mb-4">
                                    <input id="day" type="number" name="firstname" placeholder="Days"
                                        class="form-control bg-white  border-md">
                                </div>
                            </div>
                        </div>
                        <label for="a"><input type="checkbox" id="correct" onchange="datacheck(this.id)"><b> All the
                                Above Data are Correct ?</b></label>
                        <div class="form-group col-lg-4 mb-5 mx-auto mb-0" style="display: none;" id="submitbtndiv">
                            <button class="btn btn-signup btn-block py-2" id="applicationreg" style="cursor: pointer;">
                                <span class="font-weight-bold">Submit</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            </div>
        </section><!-- End Signup Section -->


        </main><!-- End #main -->

        <section class="footer-wave">
            <img src="/img/ship_footer.png" class="ship" alt="">
            <div class="wave wave1"></div>
            <div class="wave wave2"></div>
            <div class="wave wave3"></div>
            <div class="wave wave4"></div>
        </section>
        <!-- ======== Footer =========== -->
        <section id="footer">
            <div class="footer-top footer">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-6">
                            <div class="footer-info">
                                <h3>CMC Maritime Academy</h3>
                                <p>
                                    The Taj, New No. 70, Old No. 29,<br>
                                    Block 'C', 3rd Floor,<br>
                                    Ritherdon Road, Vepery,<br>
                                    Chennai - 600 007. Tamil Nadu.<br><br>
                                </p>
                                <div class="phone">
                                    <a href="tel:+919445031188">
                                        <p>+91 94450 31188</p>

                                    </a>
                                    <a href="tel:+917305150111">
                                        <p>+91 73051 50111</p>

                                    </a>
                                    <a href="tel:+919843655985">
                                        <p>+91 98436 55985</p>

                                    </a>
                                    <a href="tel:+9104442691188">
                                        <p>+91 044-42691188</p>

                                    </a>
                                    <a href="tel:+9104442651199">
                                        <p>+91 044-42651199</p>

                                    </a>
                                </div>

                                <div class="social-links mt-3">
                                    <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#" class="google-plus"><i class="fa fa-google"></i></a>
                                    <a href="https://www.facebook.com/cmcchennaiofficial" class="facebook"><i
                                            class="fa fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/cmc_maritime_academy_chennai/"
                                        class="instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="https://www.youtube.com/channel/UCpLhH2j93cbeEz1vLS5c4pQ/featured"
                                        class="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><i class="fa fa-angle-right mr-1"></i> <a href="/">Home</a></li>
                                <li><i class="fa fa-angle-right mr-1"></i> <a href="/about">About us</a></li>
                                <li><i class="fa fa-angle-right mr-1"></i> <a href="/login">Login</a></li>
                                <li><i class="fa fa-angle-right mr-1"></i> <a href="/testimonials">Testimonials</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Academic</h4>
                            <ul>
                                <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">Infrastructure</a></li>
                                <li><i class="fa fa-angle-right mr-1"></i> <a href="/team">Faculties</a></li>
                                <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">Rules and Regulations</a>
                                </li>
                                <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">FAQ</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-6 footer-links">
                            <h4>Courses</h4>
                            <ul id="coursename">
                                <!-- <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Basic</a></li>
                            <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Advanced</a></li>
                            <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Packages</a></li> -->
                            </ul>
                        </div>


                    </div>
                    <div >
                        <!-- <img class=""  alt="kjb"/> -->
                        <img src="/img/indian.png" alt="Indian flag" class="Indian_flag" >
                        </div>
                    </div>
                </div>
            </div>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
            <a href="https://api.whatsapp.com/send?phone=919843655985&text=Help" class="float" target="_blank">
                <i class="fa fa-whatsapp my-float"></i>
            </a>
        </section>

        <a href="#" class="back-to-top">
            <!--<i class="icofont-simple-up"></i>-->
            <img src="/img/steer.png" style="width: 80px;" alt="">
        </a>
        <div id="mailtemplate" style="display: none;">
            <%- include('partial/mailtemplate'); %>
        </div>
        <div id="purchasetemplate" style="display: none;">
            <%- include('partial/coursepurchase.ejs'); %>
        </div>
        <!-- Vendor JS Files -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
        <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="/vendor/bootstrap/js/popper.js"></script>
        <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>


        <!-- Template Main JS File -->
        <script src="/js/testimonial.js"></script>
        <script src="/js/text-testimonial.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/strip_carousel.js"></script>
        <!-- <script src="/js/faculty.js"></script> -->
        <!--For Academic page-->
        <script src="/js/academic_gal.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
            integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase.js"></script>
        <script src="/js/custom/firebase.js"></script>
        <script src="/js/custom/application.js"></script>

</body>
<script>
    var userid = sessionStorage.getItem("userid")
    if (userid == undefined) {
        window.location.replace("/signup")
    }
</script>
<script>
    db.collection("category").limit(6).get().then((snap) => {
        snap.forEach((doc) => {
            if (doc.data() != undefined) {
                document.getElementById("coursename").innerHTML += `
          <li id="${doc.data().category}" onclick='view(this.id)'><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">${doc.data().category}</a></li>
                `
            }

        })
    })
    view = (e) => {
        sessionStorage.setItem("courseid", e)
        window.location.replace("/dashboard")
    }
</script>
<script>
    function cdc(e) {
        if (e == "yes") {
            document.getElementById("cdcdiv").style.display = "block"
        } else {
            document.getElementById("cdcdiv").style.display = "none"
        }
    }
    function BSID(e) {
        if (e == "yes") {
            document.getElementById("BSIDdiv").style.display = "block"
        } else {
            document.getElementById("BSIDdiv").style.display = "none"
        }
    }
    function grade(e) {
        if (e == "yes") {
            document.getElementById("gradediv").style.display = "block"
        } else {
            document.getElementById("gradediv").style.display = "none"
        }
    }
    function datacheck(e) {
        var data = document.getElementById("correct").checked
        if (data == true) {
            document.getElementById("submitbtndiv").style.display = "block"
        } else {
            document.getElementById("submitbtndiv").style.display = "none"
        }
    }
</script>
<script>
    document.body.style.zoom = "100%";
</script>

</html>