<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CMC - Coming Soon</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/logo/cmc_logo.png" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/all.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <link href="/css/mainstyle.css" rel="stylesheet">
  <link href="/css/footer.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/testimonial.css">
  <link rel="stylesheet" href="/css/strip_carousel.css">
  <link rel="stylesheet" href="/css/faculty.css">
  <!--For About Page inlcude-->
  <link rel="stylesheet" href="/css/team.css">
  <!--For Signup page include-->
  <link rel="stylesheet" href="/css/signup.css">

</head>
<style>
  .coming-soon{
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin: 20px;
    align-items: center;
    justify-content: center;
  }

  .ship-coming{
    height: 30%;
    position: relative;
    bottom: auto;
    object-fit: contain;
  }

  .coming-soon-text{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 48px;
  }
</style>

<body>


    <!-- End Header -->

    <main id="main">

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="coming-soon">
              <img src="/img/logo.png" alt="Ship is launching" class="logo"/>
              <h1 class="coming-soon-text">We're Coming Live Soon</h1>
          </div>
        </div>
      </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <section class="footer-wave">
      <img src="/img/ship_footer.png" class="ship" alt="">
      <div class="wave wave1"></div>
      <div class="wave wave2"></div>
      <div class="wave wave3"></div>
      <div class="wave wave4"></div>
    </section>

    <a href="#" class="back-to-top">
      <!--<i class="icofont-simple-up"></i>-->
      <img src="/img/steer.png" style="width: 80px;" alt="">
    </a>

    <!-- Vendor JS Files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>


    <!-- Template Main JS File -->
    <script src="/js/testimonial.js"></script>
    <script src="/js/text-testimonial.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/strip_carousel.js"></script>
    <!--For Academic page-->
    <script src="/js/academic_gal.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase.js"></script>
    <script src="/js/custom/firebase.js"></script>
    <script src="/js/custom/contact.js"></script>

</body>
<script>
 db.collection("category").limit(6).get().then((snap) => {
    snap.forEach((doc) => {
      if (doc.data() != undefined) {
        document.getElementById("coursename").innerHTML += `
          <li id="${doc.data().category}" onclick='view(this.id)'><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">${doc.data().category}</a></li>
                `
      }

    })
  })
  view = (e) => {
    sessionStorage.setItem("courseid", e)
    window.location.replace("/dashboard")
}
</script>
<script>
  document.body.style.zoom = "100%";
</script>

</html>