<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard - Profile</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/logo/cmc_logo.png" rel="icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- waves.css -->
    <link rel="stylesheet" href="/vendor/waves/css/waves.min.css" type="text/css" media="all">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="/vendor/themify-icons/themify-icons.css">
    <!-- font-awesome-n -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/font-awesome/all.min.css">
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href="/vendor/jquery.mCustomScrollbar.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/dashstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/dash_extra.css">

    <link rel="stylesheet" href="/js/log/vendor/toaster/toaster/build/toastr.css">
    <script src="/js/log/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/log/vendor/toaster/toaster/build/toastr.min.js"></script>
    <script src="/js/log/toaster.js"></script>
</head>
<style>
    .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 100px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }

  .my-float {
    margin-top: 16px;
  }
</style>
<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <!--Header-->
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a href="/" class="header-logo">
                            <img class="img-fluid logo" src="/img/logo/cmc_logo.png" alt="Theme-Logo" /> CMC Maritime
                            Academy
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="d-none d-md-inline-block">
                                <a href="/" class="waves-effect waves-light">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li class="d-none d-md-inline-block">
                                <a href="/dashboard" class="waves-effect waves-light">
                                    <span>Courses</span>
                                </a>
                            </li>
                            <li class="d-none d-md-inline-block">
                                <a href="/dashboard" class="waves-effect waves-light">
                                    <span>Packages</span>
                                </a>
                            </li>

                            <li class="header-notification">
                                <a href="#" class="waves-effect waves-light">
                                    <span>My Cart <img class="img-fluid cart-img" src="/vendor/opencart-brands.svg"
                                            alt=""></span>
                                    <span class="badge-cart" id="cartitem">0</span>
                                </a>
                                <ul class="show-notification" id="cart">
                                    <p id="cartdes" style="text-align: center;font-weight: bold;">Cart is Empty</p>

                                </ul>
                            </li>


                            <li class="user-profile header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    <img src="/img/profilepic.png" class="img-radius" id="hdppic"
                                        alt="User-Profile-Image">
                                    <span id="hdpname"> </span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li class="waves-effect waves-light">
                                        <a href="/dashboard/profile">
                                            <i class="ti-user"></i> View Profile
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="/dashboard/mycourses">
                                            <i class="ti-notepad"></i> My Courses
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="/dashboard/feedback">
                                            <i class="ti-comment-alt"></i> Feedback
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="/dashboard/testimonial">
                                            <i class="ti-comment-alt"></i> Testimonial
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="/dashboard/certificate">
                                            <i class="ti-file"></i> Certificate
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="/profiledit"><i class="ti-file"></i>Application</a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="javascript:void(0)" onclick="logout()">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--HEader over-->


            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <!--Side nav bar-->
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-80 img-radius" src="/img/profilepic.png" alt="User-Profile-Image"
                                        id="dashdppic">
                                    <div class="user-details" id="more-details" style="cursor: pointer;">
                                        <span id="dashdpname"><i class="fa fa-caret-down"></i></span>
                                    </div>
                                </div>
                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="/dashboard/profile"><i class="ti-user"></i>View Profile</a>
                                            <a href="/dashboard/mycourses"><i class="ti-notepad"></i>My Courses</a>
                                            <a href="/dashboard/feedback"><i class="ti-comment-alt"></i>Feedback</a>
                                            <a href="/dashboard/testimonial"><i
                                                class="ti-comment-alt"></i>Testimonial</a>
                                            <a href="/dashboard/certificate"><i class="ti-file"></i>Certificate</a>
                                          
                                            <a href="/logot"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-15"></div>
                            <div class="pcoded-navigation-label">Profile</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a href="/dashboard/profile" class="waves-effect waves-dark">
                                        <span class="pcoded-mtext">Edit Profile</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a href="/change_password" class="waves-effect waves-dark">
                                        <span class="pcoded-mtext">Change Password</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li> -->
                                <li>
                                    <a href="/profiledit" class="waves-effect waves-dark">
                                        <span class="pcoded-mtext">Application Form</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!--side nav bar over-->
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Profile</h5>
                                            <p>Edit Profile</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="/"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="/dashboard/profile">profile</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <!--MAIN CONTENT PROFILE  CONTENT-->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="card p-5">
                                            <form action="#">
                                                <div class="row container">
                                                    <!--Profile Img-->
                                                    <div
                                                        class="col-6 mb-2 d-flex align-items-center justify-content-end">
                                                        <img id="profilepic" src="/img/profilepic.png"
                                                            class="img-radius" alt="User-Profile-Image"
                                                            style="width: 100px; height: 100px;">
                                                    </div>
                                                    <!--Change profile button-->
                                                    <div
                                                        class="col-6 mb-5 d-flex flex-column align-items-start justify-content-center">
                                                        <span id="fullname"></span>
                                                        <input id='fileid' type='file' name='filename' hidden />
                                                        <a id="buttonid" class="font-weight-bold profile-change"
                                                            href="#">Upload Profile Image</a>
                                                    </div>
                                                    <!--First name-->
                                                    <div class="col-md-3 form-align mb-2">
                                                        <label for="" class="font-weight-bold">First Name</label>
                                                    </div>
                                                    <div class="col-md-3 form-align mb-2">
                                                        <input id="firstname" type="text" i name="firstname"
                                                            placeholder="First Name" value=""
                                                            class="form-control bg-white border-md">
                                                    </div>

                                                    <!--Last name-->
                                                    <div class="col-md-3 form-align mb-2">
                                                        <label for="" class="font-weight-bold">Last Name</label>
                                                    </div>
                                                    <div class="col-md-3 mb-2">
                                                        <input id="lastname" type="text" name="lastname"
                                                            placeholder="last Name" value=""
                                                            class="form-control bg-white border-md">
                                                    </div>

                                                    <!--INDOS num-->
                                                    <div class="col-md-3 form-align mb-2">
                                                        <label for="" class="font-weight-bold">INDOS Number</label>
                                                    </div>
                                                    <div class="col-md-3 mb-2">
                                                        <input id="indosnumber" type="text" name="indosNumber"
                                                            placeholder="INDOS Number" value=""
                                                            class="form-control bg-white border-md">
                                                    </div>

                                                    <!--Whatsapp num-->
                                                    <div class="col-md-3 form-align mb-2">
                                                        <label for="" class="font-weight-bold">Whatsapp Number</label>
                                                    </div>
                                                    <div class="col-md-3 mb-2">
                                                        <input id="phone" type="text" name="phone"
                                                            placeholder="Whatsapp Number" value=""
                                                            class="form-control bg-white border-md">
                                                    </div>

                                                    <!--email-->
                                                    <div class="col-md-3 form-align mb-2">
                                                        <label for="" class="font-weight-bold">Email</label>
                                                    </div>
                                                    <div class="col-md-3 mb-2">
                                                        <input id="email" type="email" name="email"
                                                            placeholder="Email Address" value=""
                                                            class="form-control bg-white border-md">
                                                    </div>

                                                    <!--dob-->
                                                    <div class="col-md-3 form-align mb-2">
                                                        <label for="" class="font-weight-bold">DOB</label>
                                                    </div>
                                                    <div class="col-md-3 mb-2">
                                                        <input type="text" name="dob" id="dob"
                                                            placeholder="Date Of Birth" value=""
                                                            class="form-control bg-white border-md"
                                                            onfocus="(this.type='date')">
                                                    </div>
                                                    <!--SUBMIT BUTTON-->
                                                    <div class="form-group col-md-6 col-12 mx-auto mt-4 btn-title">
                                                        <a href="#"
                                                            class="btn btn-primary get-started-btn ml-auto ml-lg-4"
                                                            id="updateprofile">Update Profile</a>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://api.whatsapp.com/send?phone=919843655985&text=Help" class="float" target="_blank">
          <i class="fa fa-whatsapp my-float"></i>
        </a>
    </div>

    <!-- Required Jquery -->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js "></script>
    <script type="text/javascript" src="/vendor/jquery-ui.min.js "></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- waves js -->
    <script src="/vendor/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/vendor/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="/vendor/jquery.quicksearch.js"></script>


    <!-- menu js -->
    <script src="/js/pcoded.min.js"></script>
    <script src="/vendor/vertical-layout.min.js "></script>

    <script type="text/javascript" src="/js/script.js "></script>
    <script src="/js/dash.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase.js"></script>
    <script src="/js/custom/firebase.js"></script>
    <script src="/js/custom/cart.js"></script>
    <script src="/js/custom/profilepic.js"></script>

    <script src="/js/custom/profile.js"></script>
    <script>
        $(".btn-title").hover(function () {
            $(this).toggleClass("is-active");
        });
        document.getElementById('buttonid').addEventListener('click', openDialog);
        function openDialog() {
            document.getElementById('fileid').click();
        }
    </script>
      <script>
        function logout() {
            sessionStorage.removeItem("userid")
            window.location.replace("/")
        }
    </script>
    <script>
        document.body.style.zoom = "100%";
      </script>
      
</body>

</html>