<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Forgot Password</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!--<link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">-->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="/css/login_style.css" rel="stylesheet">

  <link rel="stylesheet" href="/js/log/vendor/toaster/toaster/build/toastr.css">
  <script src="/js/log/vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="/js/log/vendor/toaster/toaster/build/toastr.min.js"></script>
  <script src="/js/log/toaster.js"></script>

</head>
<body>
  <div class="bg"></div>
  <div class="form">
    <div class="login-head">
      <img src="/img/logo.png" alt="" class="img-fluid">
      <h1>CMC Student Login</h1>
    </div>
    
    <div class="tab-content">
      <div id="signup">       
        <h1>Forgot Password</h1>      
        <div >      
          <div class="field-wrap">
            <label>
              Email<span class="req">*</span>
            </label>
            <input type="email" required autocomplete="off" id="email" />
          </div>
        
          
          <button class="button button-block" id="forgotbtn">Submit</button>
          
        </div>
      </div>
      
    </div><!-- tab-content -->
    
  </div> <!-- /form -->
  <a href="/login" class="signup">Login</a>
   <!-- Template Main JS File -->
   <script src="/vendor/jquery/jquery.min.js"></script>   
   <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
   
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase.js"></script>
   <script src="/js/custom/firebase.js"></script>
   <script src="/js/custom/forgot.js"></script>

</body>
<script>
  document.body.style.zoom = "100%";
</script>

</html>