<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>CMC - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/logo/cmc_logo.png" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/all.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

  <!-- Template Main CSS File -->
  <link href="/css/mainstyle.css" rel="stylesheet">
  <link href="/css/footer.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/testimonial.css">
  <link rel="stylesheet" href="/css/strip_carousel.css">
  <link rel="stylesheet" href="/css/faculty.css">
  <!--For About Page inlcude-->
  <link rel="stylesheet" href="/css/team.css">
  <!--For Signup page include-->
  <link rel="stylesheet" href="/css/signup.css">
  <link rel="stylesheet" href="/css/simplePagination.css">

  <link rel="stylesheet" href="/js/log/vendor/toaster/toaster/build/toastr.css">
  <script src="/js/log/vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="/js/log/vendor/toaster/toaster/build/toastr.min.js"></script>
  <script src="/js/log/toaster.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<style>
  .searchcourses {
    /* position: absolute; */
    background-color: white;
    margin-left: 235px;
    border-radius: 2px;
    overflow: auto;
    height: 187px;
    overflow-y: overlay;
    display: none;
    text-align: initial;
  }

  @media screen and (min-width: 600px) and (max-width: 1200px) {
    #banner {
      margin-top: 500px !important;
    }
  }

  @media screen and (max-width:600px) {
    .searchcourses {
      margin-left: 0px !important;
    }

    #banner {
      margin-top: 662px !important;
    }
  }

  .searchitem:hover {
    background-color: #dcdcdc7a;
  }

  .courseimgdiv {
    height: 200px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }

  .card-carousel {
    margin-left: 280px;
  }

  .float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    /* right: 40px; */
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }

  .my-float {
    margin-top: 16px;
  }
</style>
<style>
  @import "https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap";

  body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: open sans;
    background: #f8f8f8;
  }

  h3 {
    text-align: center;
    margin: 6% auto;
    font-size: 1.8rem;
    font-weight: 800;
    color: #444;
  }

  .slider {
    display: flex;
    height: 350px;
    max-height: auto;
    overflow-y: hidden;
    overflow-x: scroll !important;
    padding: 16px;
    transform: scroll(calc(var(--i, 0)/var(--n)*-100%));
    scroll-behavior: smooth;
  }

  .slider::-webkit-scrollbar {
    height: 5px;
    width: 150px;
    display: none;
  }

  .slider::-webkit-scrollbar-track {
    background: transparent;
  }

  .slider::-webkit-scrollbar-thumb {
    background: #888;
  }

  .slider::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .slider img:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  }

  .slidernew {
    display: flex;
    /* height: 350px; */
    max-height: auto;
    overflow-y: hidden;
    overflow-x: scroll !important;
    padding: 16px;
    transform: scroll(calc(var(--i, 0)/var(--n)*-100%));
    scroll-behavior: smooth;
  }

  .slidernew::-webkit-scrollbar {
    height: 5px;
    width: 150px;
    display: none;
  }

  .slidernew::-webkit-scrollbar-track {
    background: transparent;
  }

  .slidernew::-webkit-scrollbar-thumb {
    background: #888;
  }

  .slidernew::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .slidernew img:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  }

  .slide {

    position: relative;
  }

  .slide img {
    height: 100%;
    width: 250px;
    margin: 0 10px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    transition: .25s ease-in-out;
  }

  .control-prev-btn {
    position: absolute;
    /* top: 50%; */
    left: 0;

    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    margin-left: 200px;
    margin-top: 50px;
    user-select: none;
    color: #444;
    cursor: pointer;
  }

  .control-prev-btnnew {
    position: absolute;
    left: 0;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    user-select: none;
    color: #444;
    cursor: pointer;
    margin-top: -30px;
  }

  .control-next-btn {
    position: absolute;
    /* top: 50%; */
    right: 0;
    margin-right: 180px;
    margin-top: 50px;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;

    user-select: none;
    color: #444;
    cursor: pointer;
  }

  .control-next-btnnew {
    position: absolute;
    /* top: 50%; */
    right: 0;

    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    margin-top: -30px;
    user-select: none;
    color: #444;
    cursor: pointer;
  }

  .slide img.zoomed {
    width: 500px;
    height: 600px;
    position: fixed;
    left: 25%;
    top: 0%;
    z-index: 1000;
    transform: scale(1) translatey(0) !important;

  }

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .45);
    top: 0;
    display: none;
  }

  .overlay.active {
    display: block;
  }

  @media only screen and (max-width: 420px) {
    .slider {
      padding: 0;
    }

    .slide {
      padding: 16px 10px;
    }

    .slide img {
      margin: 0;
    }

    .control-prev-btn {
      top: 37%;
    }

    .control-next-btn {
      top: 37%;
    }
  }

  .simple-pagination ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .simple-pagination li {
    display: inline-block;
    margin-right: 5px;
  }

  .simple-pagination li a,
  .simple-pagination li span {
    color: #666;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #EEE;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px #EEE;
  }

  .simple-pagination .current {
    color: #FFF;
    background-color: #035096;
    border-color: #035096;
  }

  .simple-pagination .prev.current,
  .simple-pagination .next.current {
    background: #035096;
  }

  .categorylist:hover {
    background: white;
    color: #035096;
  }
  .Indian_flag {
      width: 300px;
      height: 200px;
      object-fit: contain;
      position: absolute;
      right: 20px;
      bottom: -40px;
    }
    .footer {
      position: relative;
    }
</style>

<body>
  <!--HEADER ABOVE BAR SECTION-->


  <!--HEADER MAIN-->
  <%- include('partial/header'); %>

    <!-- End Header -->



    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(/img/ship.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Search Courses</h2>


                <div class="search-form animate__animated animate__fadeInUp scrollto">
                  <div class="btn-group">
                    <input class="form-control rounded-left"
                      style="border-radius: 0;padding: 0px 0px 0px 15px !important;height: 36px!important;"
                      type="search" placeholder="Search" aria-label="Search" id="findcourse">
                    <!-- <button class="btn btn-darkblue" type="submit">Search</button> -->
                  </div>
                  <div class="searchcourses" id="searchcourses">
                  </div>
                </div>

                <div class="approval">
                  <p class="animate__animated animate__fadeInUp">Approved By</p>
                  <p class="animate__animated animate__fadeInUp">D.G. Shipping Govt of India</p>
                  <h4 class="animate__animated animate__fadeInUp">ISO 9001:2015 Certified Institute</h4>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Hero -->


    <!-- ======= Announcement ======== -->
    <section id="announcement" class="p-0">

    </section>



    <!-- ======= Course Section ======= -->
    <section id="course" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Courses and Packages</h2>
          <p>Courses <span id="viewallbtn" style="float: right;"><a href="/dashboard" id="bookbtn"
                class="get-started-btn ml-auto ml-lg-4">View All</a></span> </p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <div id="slider-containercategory" class="slidernew">



            </div>
            <!-- <ul id="portfolio-flters">


            </ul> -->
          </div>
        </div>

        <!-- <div class="row portfolio-container" id="courses">



        </div> -->

        <div id="slider-containercategory" class="slidernew">



        </div>

        <div id="slider-container" class="row">



        </div>


        <div class="overlay"></div>
        <p id="coursenoti" style="text-align: center;font-weight: bold;display: none;margin-top: 110px;">No Course
          Available</p>
        <div id="pagination-container1" style="margin-left: 450px;"></div>

      </div>
    </section>

    <!-- End Portfolio Section -->


    <!-- ======= Login Banner ========== -->
    <section id="banner" class="login-banner" style="margin-top: 50px !important;">
      <div class="layer"></div>
      <div class="row">
        <div class="col-lg">
          <h1 class="text-light text-center">Ready to get started ?</h1>
        </div>
        <div class="col-lg d-flex align-items-center justify-content-center">
          <a href="/signup" class="btn btn-banner btn-large py-2">Sign Up Now</a>
        </div>
      </div>
    </section><!-- =====End Login===== -->



    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid" style="padding: 0px 40px;">
        <div class="section-title">
          <h2>About</h2>
        </div>
        <div class="row content">
          <div class="col-lg-6">
            <h2>CMC Maritime Academy CHENNAI</h2>
            <h3 style="color: #035096;">Mission</h3>
            <ul>
              <li><i class="fas fa-anchor"></i> To provide goal-oriented, quality-based and value added education
                through
                state-of-the-art technology at par with International Standards</li>
              <li><i class="fas fa-anchor"></i> To prepare the students with high professional skills and ethical values
              </li>
              <li><i class="fas fa-anchor"></i> To impart knowledge through best practices</li>
              <li><i class="fas fa-anchor"></i> To undertake continuous assessment and remedial measures</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              CMC Maritime Academy is situated in the Heart of the City, Vepery, Chennai. Established in 2012 and
              approved
              by Directorate General of Shipping, Govt. of India, we offer the best post-sea courses for seafarers
              keeping
              pace with the rapid evolution of shipping industry, technological advances to produce seaman with
              specialized and upgraded skills.
            </p>
            <p>Our objective is to impart our student's community with knowledge and skills along with marine culture by
              way of</p>
            <ul>
              <li><i class="fas fa-anchor"></i> Professionalism</li>
              <li><i class="fas fa-anchor"></i> Communication skills</li>
              <li><i class="fas fa-anchor"></i> Officer Like Quality skills - using modern teaching methodology</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ===== Testimonial Video Slider ======= -->
    <div class="wrapper noselect">
      <div class="strip-carousel strip-bg" id="mostviewed">
        <div class="arrow-left">&lsaquo;</div>
        <div class="arrow-right">&rsaquo;</div>

        <div class="frames" id="galleryframes">
        </div>
      </div>
    </div>


    <!-- ======= Testimonials Text Section ======= -->
    <!-- <section id="testimonials" class="testimonials">
      <div class="container">
        <div class="section-title">
          <h2>Feedback & Testimonials</h2>
          <p>Testionials</p>
        </div>
        <div class="row" id="testimonialview">

          <div class="testi-carousel owl-carousel">
            <div class="item">
            <div class="testimonial-item">
              <img src="/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
              <h3>Saul Goodman</h3>
              <h4>Ceo &amp; Founder</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>


          </div>

        </div>

      </div>
    </section> -->


    <!-- ======= Faculty ========= -->
    <section class="faculty p-0">
      <div class="faculty-inner">
        <div class="container-fluid" style="padding: 0px 40px;">
          <div class="section-title">
            <h2 class="text-dark">Our Team</h2>
            <p class="text-light">Faculty</p>
          </div>
        </div>
        <div class="card-carousel">

        </div>
    </section>


    <!--
    <section class="shipsection m-0 p-0">
      <img src="/img/ship_footer.png" class="ship" alt="">
    </section>
  -->
    <section class="footer-wave team-footer">
      <img src="/img/ship_footer.png" class="ship" alt="">
      <div class="wave wave1"></div>
      <div class="wave wave2"></div>
      <div class="wave wave3"></div>
      <div class="wave wave4"></div>
    </section>
    <!-- ======== Footer =========== -->
    <section id="footer">
      <div class="footer-top">
        <div class="container-fluid footer"  style="padding: 0px 40px;">
          <div class="row">

            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3 style="color: white;
                text-align: initial;">CMC Maritime Academy</h3>
                <p>
                  The Taj, New No. 70, Old No. 29,<br>
                  Block 'C', 3rd Floor,<br>
                  Ritherdon Road, Vepery,<br>
                  Chennai - 600 007. Tamil Nadu.<br><br>
                </p>
                <div class="phone">
                  <a href="tel:+919445031188">
                    <p>+91 94450 31188</p>

                  </a>
                  <a href="tel:+917305150111">
                    <p>+91 73051 50111</p>

                  </a>
                  <a href="tel:+919843655985">
                    <p>+91 98436 55985</p>

                  </a>
                  <a href="tel:+9104442691188">
                    <p>+91 044-42691188</p>

                  </a>
                  <a href="tel:+9104442651199">
                    <p>+91 044-42651199</p>

                  </a>
                </div>
                <a class="ph" href="mailto:admission@cmcacademy.ac.in"><strong><img src="/img/icon/envelope-solid.svg"
                      height="14px" alt=""> </strong>
                  admission@cmcacademy.ac.in</a>

                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-google"></i></a>
                  <a href="https://www.facebook.com/cmcchennaiofficial" class="facebook"><i
                      class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/cmc_maritime_academy_chennai/" class="instagram"><i
                      class="fa fa-instagram"></i></a>
                  <a href="https://www.youtube.com/channel/UCpLhH2j93cbeEz1vLS5c4pQ/featured" class="youtube"><i
                      class="fa fa-youtube" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/">Home</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/about">About us</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/login">Login</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/testimonials">Testimonials</a></li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Academic</h4>
              <ul>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">Infrastructure</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/team">Faculties</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">Rules and Regulations</a>
                </li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/academic">FAQ</a></li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Courses</h4>
              <ul id="coursename">
                <!-- <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Basic</a></li>
          <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Advanced</a></li>
          <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Packages</a></li> -->
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Policy</h4>
              <ul>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/policy#terms">Terms and Conditions</a>
                </li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/policy#refund">Refund Police</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/policy#privacy">Privacy Policy</a>
                </li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/policy#data">Data Policy</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/policy#copyright">Copyright</a></li>
              </ul>
            </div>
            

          </div>
          <div >
            <!-- <img class=""  alt="kjb"/> -->
            <img src="/img/indian.png" alt="Indian flag" class="Indian_flag" >
            </div>
        </div>
      </div>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <a href="https://api.whatsapp.com/send?phone=919843655985&text=Help" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
      </a>
    </section>

    <a href="#" class="back-to-top">
      <!--<i class="icofont-simple-up"></i>-->
      <img src="/img/steer.png" style="width: 80px;" alt="">
    </a>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=919843655985&text=Help" class="float" target="_blank">
      <i class="fa fa-whatsapp my-float"></i>
    </a>
    <div id="logintemplate" style="display: none;">
      <%- include('partial/dobtemplate.ejs'); %>
    </div>
    <!-- Vendor JS Files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Template Main JS File -->
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase.js"></script>
    <script src="/js/custom/firebase.js"></script>
    <script src="/js/testimonial.js"></script>
    <script src="/js/text-testimonial.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/strip_carousel.js"></script>
    <script src="/js/faculty.js"></script>
    <!--For Academic page-->
    <script src="/js/academic_gal.js"></script>
    <script src="/js/custom/jquery.simplePagination.js"></script>
    <script src="/js/custom/course.js"></script>
    <script src="/js/custom/announcement.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- <script src="/js/custom/feedbackview.js"></script> -->
</body>
<script>
  sessionStorage.removeItem("type")
</script>
<script>
  db.collection("category").limit(6).get().then((snap) => {
    snap.forEach((doc) => {
      if (doc.data() != undefined) {
        if (doc.data().category !== "All") {
          document.getElementById("coursename").innerHTML += `
          <li id="${doc.data().category}" onclick='view(this.id)'><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">${doc.data().category}</a></li>
                `
        }
      }
    })
  })

  db.collection("category").get().then((snap) => {
    snap.forEach((doc) => {
      if (doc.data() != undefined) {
        setTimeout(() => {

          document.getElementById("slider-containercategory").innerHTML += `
        <div class="slide">
          <li style="cursor: pointer;
            display: inline-block;
            padding: 8px 15px 10px 15px;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            color: #444444;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;
            border-radius: 3px;background-color:color;color:#035096;margin:5px" class="categorylist"   data-filter=".${doc.data().category}" id="${doc.data().category}" onclick="coursefilter(this)">${doc.data().category}</li>
        </div>
        <div onclick="prevnew()" class="control-prev-btnnew">
            <i class="fa fa-arrow-left"></i>
          </div>
          <div onclick="nextnew()" class="control-next-btnnew">
            <i class="fa fa-arrow-right"></i>
          </div>
      `

        }, 2000)
      }

    })
  })
  view = (e) => {
    sessionStorage.setItem("courseid", e)
    window.location.replace("/dashboard")
  }
</script>
<script>

  function prev() {
    document.getElementById('slider-container').scrollLeft -= 270;

  }
  function prevnew() {
    document.getElementById('slider-containercategory').scrollLeft -= 270;
  }
  function next() {
    document.getElementById('slider-container').scrollLeft += 270;
  }

  function nextnew() {
    document.getElementById('slider-containercategory').scrollLeft -= 270;
  }

  $(".slide img").on("click", function () {
    $(this).toggleClass('zoomed');
    $(".overlay").toggleClass('active');
  })

</script>
<script>
  document.body.style.zoom = "100%";
</script>

</html>