<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Login</title>


  <!-- Favicons -->
  <!--<link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">-->

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <!-- <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="/css/login_style.css" rel="stylesheet">

  <link rel="stylesheet" href="/js/log/vendor/toaster/toaster/build/toastr.css">
  <script src="/js/log/vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="/js/log/vendor/toaster/toaster/build/toastr.min.js"></script>
  <script src="/js/log/toaster.js"></script>

</head>

<body>
  <div class="bg"></div>
  <div class="form">
    <div class="login-head">
      <a href="/"><img src="/img/logo.png" style="width: 130px;" alt="" class="img-fluid"></a>
      <h1>CMC Student Login</h1>
    </div>

    <div class="tab-content">
      <div id="signup">
        <h1>Welcome Back!</h1>
        <div>
          <div class="field-wrap">
            <label>
              INDos Number<span class="req">*</span>
            </label>
            <input type="text" required autocomplete="off" maxlength="8" id="indosno" />
          </div>

          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password" required autocomplete="off" id="password" />
          </div>

          <p class="forgot"><a href="/forgot">Forgot Password?</a></p>

          <button class="button button-block" id="loginbtn" style="cursor: pointer;">Log In</button>

        </div>
      </div>

    </div><!-- tab-content -->

  </div> <!-- /form -->
  <a href="/signup" class="signup">Sign Up</a>
  <!-- Template Main JS File -->
  <div id="logintemplate" style="display: none;">
    <%- include('partial/logintemplate.ejs'); %>
  </div>

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/js/login_js.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase.js"></script>
  <script src="/js/custom/firebase.js"></script>
  <script src="/js/custom/login1.js"></script>

</body>
<script>
  var userid = sessionStorage.getItem("userid")
  if (userid != null) {
    toastr["success"]("Welcome To CMC Maritime-Academy..");
    setTimeout(() => {
      window.location.replace("/")
    }, 2000)
  }
</script>
<script>
  document.body.style.zoom = "100%";
</script>

</html>