<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>CMC - Policy</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/img/logo/cmc_logo.png" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="/vendor/owl.carousel/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/vendor/owl.carousel/assets/owl.theme.default.min.css"
    />
    <link rel="stylesheet" href="/vendor/font-awesome/all.min.css" />
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />

    <!-- Template Main CSS File -->
    <link href="/css/mainstyle.css" rel="stylesheet" />
    <link href="/css/footer.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/testimonial.css" />
    <link rel="stylesheet" href="/css/strip_carousel.css" />
    <link rel="stylesheet" href="/css/faculty.css" />
    <!--For About Page inlcude-->
    <link rel="stylesheet" href="/css/team.css" />
    <!--For Signup page include-->
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <style>
    .img-thumbnail {
      padding: 0.25rem;
      background-color: #fff;
      border: 1px solid #dee2e6;
      border-radius: 0.25rem;
      /* width: 350px !important;
    height: 200px !important; */
    }

    @media screen and (max-width: 650px) {
      .img-thumbnail {
        padding: 0.25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        width: 100% !important;
        height: auto !important;
      }
    }

    .float {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      /* right: 40px; */
      background-color: #25d366;
      color: #fff;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
    }

    .my-float {
      margin-top: 16px;
    }
    .Indian_flag {
      width: 300px;
      height: 200px;
      object-fit: contain;
      position: absolute;
      right: 20px;
      bottom: -40px;
    }
    .footer {
      position: relative;
    }
  </style>

  <body>
    <!--HEADER ABOVE BAR SECTION-->

    <!--HEADER MAIN-->
    <%- include('partial/header'); %>
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Policy</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Policy</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= Portfolio Section ======= -->
      <section id="academic" class="portfolio">
        <div class="container">
          <div id="terms" style="margin-bottom: 20px">
            <div class="tabb">
              <h2>Terms & Conditions</h2>
              <p>
                CMC Maritime Academy-Chennai (the Institute) is very strict
                regarding attendance. Candidates should kindly ensure that all
                their other programs are taken care of before booking a course.
                Mid-course leaves and absenteeism is not acceptable, and is
                viewed very seriously by the Institute. If, for any reason, a
                candidate is unable to commence a pre-booked course on the due
                date, the same can be shifted to next available date, as per the
                availability of seats for that course, in any future batch.
              </p>
              <ul class="list-unstyled">
                <li>
                  <i class="fas fa-angle-right mr-3"></i>No shifting charge will
                  be levied towards shifting the course(s) within the next six
                  months. Cancellation charges will be applicable as per the
                  policy of the Institute. However, these terms may be subject
                  to change in future.
                </li>
                <li>
                  <i class="fas fa-angle-right mr-3"></i>For cancellation by
                  candidates, of any course booked by them, the same should be
                  intimated immediately to the Institute, so that course fees
                  paid, may be refunded as per the policy of the Institute. The
                  Institute may cancel the course at any juncture due to
                  internal technical reasons or due to insufficient strength of
                  the course. In such cases, the candidate will be informed of
                  the same.
                </li>
                <li>
                  <i class="fas fa-angle-right mr-3"></i>As per D.G. Shipping
                  rules, 100% attendance is mandatory for all Modular courses.
                  Any candidate who has a shortfall in attendance needs to
                  compensate the same by attending the relevant day missed, in
                  the subsequent batch, subject to availability of a vacant
                  seat. No extra fees will be levied for the same.
                </li>
                <li>
                  <i class="fas fa-angle-right mr-3"></i>After completing the
                  payment you will be redirected back to CMC Maritime Academy
                  Chennai website for payment confirmation message. Please don't
                  press BACK or REFRESH button until you are directed back, you
                  may see white screen in the process, which may take 2-3 mins
                </li>
                <li>
                  <i class="fas fa-angle-right mr-3"></i>Candidates attending
                  practical courses such as PSCRB, PST, AFF, Basic FPFF, or
                  their Refreshers, please bring a towel and a change of
                  innerwear to replace your wet clothes.
                </li>
                <li>
                  <i class="fas fa-angle-right mr-3"></i>If the amount is
                  debited from your bank account but an error page is displayed
                  or the course is not booked, kindly report such occurrence to
                  our email i.d. Any extra payment credited to our account by
                  online-errors/ candidate's mistake will be refunded by
                  non-cash methods to the candidate, when they arrive at the
                  Institute for the course.
                </li>
                <li>
                  <i class="fas fa-angle-right mr-3"></i>it may take up to 48hrs
                  to get confirmation from our bank, regarding your fees payment
                  via online transaction. Please be patient if you have
                  mistakenly paid extra fees. The refund of excess fees will be
                  disbursed only after proper verification with our bank.
                </li>
                <li>
                  <i class="fas fa-angle-right mr-3"></i>For Practical courses
                  such as PSCRB, AFF, FPFF, PST etc. please follow Special
                  Instructions sent to candidate by email, to avoid any
                  complications and delays before commencement or during the
                  course
                </li>
              </ul>
              <p>
                All disputes are subject to the jurisdiction of Chennai City
                only.
              </p>
            </div>
          </div>

          <div class="tabb" id="refund">
            <h2>Refund Policy</h2>
            <ul class="list-unstyled">
              <li>
                <i class="fas fa-angle-right mr-3"></i>Any Refunds of Fees will
                be issued only by non-cash methods, such as crossed cheques or
                Online reverse-transfers etc.
              </li>
              <li>
                <i class="fas fa-angle-right mr-3"></i>Candidates are requested
                not to make last-minute cancellations, as other Mariners may be
                deprived of seats in that course.
              </li>
              <li>
                <i class="fas fa-angle-right mr-3"></i>Original Fees-Receipt
                MUST be submitted for any fees-refund. Refunds shall be
                processed as soon as practicable. Fees Refunds will not be
                processed without original receipt.
              </li>
              <li>
                <i class="fas fa-angle-right mr-3"></i>Please keep your Original
                Fees Receipts very safely, as Duplicate receipts are not issued
                to any candidates as per CMC Policy.
              </li>
            </ul>
            <p>
              The Institute, as a merchant, shall be not be under any liability
              whatsoever in respect of any loss or damage arising directly or
              indirectly out of the decline of authorization for any
              Transaction, on Account of the Cardholder having exceeded the
              preset limit mutually agreed by us with our acquiring bank from
              time to time.
            </p>
          </div>

          <div class="tabb" id="privacy">
            <h2>Privacy Policy</h2>
            <p>
              All information collected through the website of CMC Maritime
              Academy Chennai will be treated as private and confidential. All
              information supplied by the candidate is only used for
              administrative and/or educational purposes of CMC MARITIME ACADEMY
              CHENNAI , or in accordance with any specific consent given by the
              candidate. CMC MARITIME ACADEMY CHENNAI does not make any personal
              information supplied by you, available to a third party unless it
              is required and/or permitted by law.
            </p>
            <p>
              The Institute claims copyright ownership of all information stored
              on its website, unless expressly stated otherwise. Please do not
              copy or distribute any material found on this website without the
              explicit written agreement of CMC MARITIME ACADEMY CHENNAI .
            </p>
            <h5>Disclaimer</h5>
            <ul class="list-unstyled">
              <li>
                <i class="fas fa-angle-right mr-3"></i>Website Users should
                consult directly with CMC MARITIME ACADEMY CHENNAI (via email or
                telephone) to confirm the accuracy, completeness and currency of
                information found on the site, particularly before taking any
                action in reliance upon or based upon such information.
              </li>
              <li>
                <i class="fas fa-angle-right mr-3"></i>CMC MARITIME ACADEMY
                CHENNAI reserves all rights for this website, as well as the
                right to make changes to any material on its websites at any
                time, including, but not limited to, details relating to
                courses, admissions, fees and services
              </li>
              <li>
                <i class="fas fa-angle-right mr-3"></i>All Web links from this
                site to any external websites should not be construed as
                implying any relationship with, and/or endorsement of, the
                external site or its content by CMC MARITIME ACADEMY CHENNAI ,
                nor any commercial or other relationship with the owners of such
                site.
              </li>
            </ul>
          </div>

          <div class="tabb" id="data">
            <h2>Data Policy</h2>
            <p>
              CMC MARITIME ACADEMY CHENNAI will sell or share any of your
              personal information to any third party not related to CMC
              MARITIME ACADEMY CHENNAI
            </p>
            <p>
              CMC MARITIME ACADEMY CHENNAI consistently strives to keep all the
              information stored on its websites up to date, but does not
              guarantee that the information provided is accurate or complete.
              All website information is provided "as is" and holds/contains no
              express or implied warranty. Any mistakes in the information that
              are brought to our attention will be corrected as soon as
              possible.
            </p>
          </div>

          <div class="tabb" id="copyright">
            <h2>Copyright</h2>
            <p>
              CMC MARITIME ACADEMY CHENNAI claims copyright ownership of all
              information stored on its website. You may not copy or distribute
              material found on this website without the explicit written
              agreement CMC MARITIME ACADEMY CHENNAI.
            </p>
          </div>
        </div>
      </section>
      <!-- End Academic Section -->
    </main>
    <!-- End #main -->

    <section class="footer-wave">
      <img src="/img/ship_footer.png" class="ship" alt="" />
      <div class="wave wave1"></div>
      <div class="wave wave2"></div>
      <div class="wave wave3"></div>
      <div class="wave wave4"></div>
    </section>
    <!-- ======== Footer =========== -->
    <section id="footer">
      <div class="footer-top footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>CMC Maritime Academy</h3>
                <p>
                  The Taj, New No. 70, Old No. 29,<br />
                  Block 'C', 3rd Floor,<br />
                  Ritherdon Road, Vepery,<br />
                  Chennai - 600 007. Tamil Nadu.<br /><br />
                </p>
                <div class="phone">
                  <a href="tel:+919445031188">
                    <p>+91 94450 31188</p>
                  </a>
                  <a href="tel:+917305150111">
                    <p>+91 73051 50111</p>
                  </a>
                  <a href="tel:+919843655985">
                    <p>+91 98436 55985</p>
                  </a>
                  <a href="tel:+9104442691188">
                    <p>+91 044-42691188</p>
                  </a>
                  <a href="tel:+9104442651199">
                    <p>+91 044-42651199</p>
                  </a>
                </div>
                <a class="ph" href="mailto:admission@cmcacademy.ac.in"
                  ><strong
                    ><img
                      src="/img/icon/envelope-solid.svg"
                      height="14px"
                      alt=""
                    />
                  </strong>
                  admission@cmcacademy.ac.in</a
                >

                <div class="social-links mt-3">
                  <a href="#" class="twitter"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                  <a href="#" class="google-plus"
                    ><i class="fa fa-google"></i
                  ></a>
                  <a
                    href="https://www.facebook.com/cmcchennaiofficial"
                    class="facebook"
                    ><i class="fa fa-facebook"></i
                  ></a>
                  <a
                    href="https://www.instagram.com/cmc_maritime_academy_chennai/"
                    class="instagram"
                    ><i class="fa fa-instagram"></i
                  ></a>
                  <a
                    href="https://www.youtube.com/channel/UCpLhH2j93cbeEz1vLS5c4pQ/featured"
                    class="youtube"
                    ><i class="fa fa-youtube" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="fa fa-angle-right mr-1"></i> <a href="/">Home</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/about">About us</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/login">Login</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/testimonials">Testimonials</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Academic</h4>
              <ul>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/academic">Infrastructure</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/team">Faculties</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/academic">Rules and Regulations</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/academic">FAQ</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Courses</h4>
              <ul id="coursename">
                <!-- <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Basic</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Advanced</a></li>
                <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Packages</a></li> -->
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Policy</h4>
              <ul>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="#terms">Terms and Conditions</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="#refund">Refund Police</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="#privacy">Privacy Policy</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="#data">Data Policy</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="#copyright">Copyright</a>
                </li>
              </ul>
            </div>
            <div>
              <!-- <img class=""  alt="kjb"/> -->
              <img
                src="/img/indian.png"
                alt="Indian flag"
                class="Indian_flag"
              />
            </div>
          </div>
        </div>
      </div>
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      />
      <a
        href="https://api.whatsapp.com/send?phone=919843655985&text=Help"
        class="float"
        target="_blank"
      >
        <i class="fa fa-whatsapp my-float"></i>
      </a>
    </section>

    <a href="#" class="back-to-top">
      <!--<i class="icofont-simple-up"></i>-->
      <img src="/img/steer.png" style="width: 80px" alt="" />
    </a>

    <!-- Vendor JS Files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/testimonial.js"></script>
    <script src="/js/text-testimonial.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/strip_carousel.js"></script>
    <script src="/js/faculty.js"></script>
    <!--For Academic page-->
    <script src="/js/academic_gal.js"></script>
    <script src="/js/custom/gallery.js"></script>
  </body>
  <script>
    db.collection("category")
      .limit(6)
      .get()
      .then((snap) => {
        snap.forEach((doc) => {
          if (doc.data() != undefined) {
            if (doc.data().category !== "All") {
              document.getElementById("coursename").innerHTML += `
          <li id="${
            doc.data().category
          }" onclick='view(this.id)'><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">${
                doc.data().category
              }</a></li>
                `;
            }
          }
        });
      });
    view = (e) => {
      sessionStorage.setItem("courseid", e);
      window.location.replace("/dashboard");
    };
  </script>
  <script>
    document.body.style.zoom = "100%";
  </script>
</html>
