<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>CMC - Faculty</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/img/logo/cmc_logo.png" rel="icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/animate.css/animate.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="/vendor/owl.carousel/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/vendor/owl.carousel/assets/owl.theme.default.min.css"
    />
    <link rel="stylesheet" href="/vendor/font-awesome/all.min.css" />
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />

    <!-- Template Main CSS File -->
    <link href="/css/mainstyle.css" rel="stylesheet" />
    <link href="/css/footer.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/testimonial.css" />
    <link rel="stylesheet" href="/css/strip_carousel.css" />
    <link rel="stylesheet" href="/css/faculty.css" />
    <!--For About Page inlcude-->
    <link rel="stylesheet" href="/css/team.css" />
    <!--For Signup page include-->
    <link rel="stylesheet" href="/css/signup.css" />
  </head>
  <style>
    .float {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      /* right: 40px; */
      background-color: #25d366;
      color: #fff;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
    }

    .my-float {
      margin-top: 16px;
    }
    .Indian_flag {
      width: 300px;
      height: 200px;
      object-fit: contain;
      position: absolute;
      right: 20px;
      bottom: -40px;
    }
    .footer {
      position: relative;
    }
  </style>

  <body>
    <!--HEADER MAIN-->
    <%- include('partial/header'); %>
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Faculty</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Faculty</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <section id="team">
        <div class="container-team">
          <div class="row" id="card-carouselteam">
            <!--9-->
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <section class="footer-wave team-footer">
      <img src="/img/ship_footer.png" class="ship" alt="" />
      <div class="wave wave1"></div>
      <div class="wave wave2"></div>
      <div class="wave wave3"></div>
      <div class="wave wave4"></div>
    </section>
    <!-- ======== Footer =========== -->
    <section id="footer">
      <div class="footer-top footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>CMC Maritime Academy</h3>
                <p>
                  The Taj, New No. 70, Old No. 29,<br />
                  Block 'C', 3rd Floor,<br />
                  Ritherdon Road, Vepery,<br />
                  Chennai - 600 007. Tamil Nadu.<br /><br />
                </p>
                <div class="phone">
                  <a href="tel:+919445031188">
                    <p>+91 94450 31188</p>
                  </a>
                  <a href="tel:+917305150111">
                    <p>+91 73051 50111</p>
                  </a>
                  <a href="tel:+919843655985">
                    <p>+91 98436 55985</p>
                  </a>
                  <a href="tel:+9104442691188">
                    <p>+91 044-42691188</p>
                  </a>
                  <a href="tel:+9104442651199">
                    <p>+91 044-42651199</p>
                  </a>
                </div>
                <a class="ph" href="mailto:admission@cmcacademy.ac.in"
                  ><strong
                    ><img
                      src="/img/icon/envelope-solid.svg"
                      height="14px"
                      alt=""
                    />
                  </strong>
                  admission@cmcacademy.ac.in</a
                >

                <div class="social-links mt-3">
                  <a href="#" class="twitter"
                    ><i class="fa fa-twitter" aria-hidden="true"></i
                  ></a>
                  <a href="#" class="google-plus"
                    ><i class="fa fa-google"></i
                  ></a>
                  <a
                    href="https://www.facebook.com/cmcchennaiofficial"
                    class="facebook"
                    ><i class="fa fa-facebook"></i
                  ></a>
                  <a
                    href="https://www.instagram.com/cmc_maritime_academy_chennai/"
                    class="instagram"
                    ><i class="fa fa-instagram"></i
                  ></a>
                  <a
                    href="https://www.youtube.com/channel/UCpLhH2j93cbeEz1vLS5c4pQ/featured"
                    class="youtube"
                    ><i class="fa fa-youtube" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="fa fa-angle-right mr-1"></i> <a href="/">Home</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/about">About us</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/login">Login</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/testimonials">Testimonials</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Academic</h4>
              <ul>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/academic">Infrastructure</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/team">Faculties</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/academic">Rules and Regulations</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/academic">FAQ</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Courses</h4>
              <ul id="coursename">
                <!-- <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Basic</a></li>
          <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Advanced</a></li>
          <li><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">Packages</a></li> -->
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Policy</h4>
              <ul>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/policy#terms">Terms and Conditions</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/policy#refund">Refund Police</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/policy#privacy">Privacy Policy</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/policy#data">Data Policy</a>
                </li>
                <li>
                  <i class="fa fa-angle-right mr-1"></i>
                  <a href="/policy#copyright">Copyright</a>
                </li>
              </ul>
            </div>
            <div>
              <!-- <img class=""  alt="kjb"/> -->
              <img
                src="/img/indian.png"
                alt="Indian flag"
                class="Indian_flag"
              />
            </div>
          </div>
        </div>
      </div>
      <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
      />
      <a
        href="https://api.whatsapp.com/send?phone=919843655985&text=Help"
        class="float"
        target="_blank"
      >
        <i class="fa fa-whatsapp my-float"></i>
      </a>
    </section>

    <a href="#" class="back-to-top">
      <!--<i class="icofont-simple-up"></i>-->
      <img src="/img/steer.png" style="width: 80px" alt="" />
    </a>

    <!-- Vendor JS Files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/testimonial.js"></script>
    <script src="/js/text-testimonial.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/custom/firebase.js"></script>
    <script src="/js/strip_carousel.js"></script>
    <script src="/js/faculty.js"></script>
    <script src="/js/custom/faculty.js"></script>

    <!--For Academic page-->
    <script src="/js/academic_gal.js"></script>
  </body>
  <script>
    db.collection("category")
      .limit(6)
      .get()
      .then((snap) => {
        snap.forEach((doc) => {
          if (doc.data() != undefined) {
            if (doc.data().category !== "All") {
              document.getElementById("coursename").innerHTML += `
          <li id="${
            doc.data().category
          }" onclick='view(this.id)'><i class="fa fa-angle-right mr-1"></i> <a href="/dashboard">${
                doc.data().category
              }</a></li>
                `;
            }
          }
        });
      });
    view = (e) => {
      sessionStorage.setItem("courseid", e);
      window.location.replace("/dashboard");
    };
  </script>
  <script>
    document.body.style.zoom = "100%";
  </script>
</html>
