<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard - Profile</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/img/logo/cmc_logo.png" rel="icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- waves.css -->
    <link rel="stylesheet" href="/vendor/waves/css/waves.min.css" type="text/css" media="all">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- themify icon -->
    <link rel="stylesheet" type="text/css" href="/vendor/themify-icons/themify-icons.css">
    <!-- font-awesome-n -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/font-awesome/all.min.css">
    <!-- scrollbar.css -->
    <link rel="stylesheet" type="text/css" href="/vendor/jquery.mCustomScrollbar.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/dashstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/dash_extra.css">

    <link rel="stylesheet" href="/js/log/vendor/toaster/toaster/build/toastr.css">
    <script src="/js/log/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/log/vendor/toaster/toaster/build/toastr.min.js"></script>
    <script src="/js/log/toaster.js"></script>
</head>
<style>
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        /* right: 40px; */
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }

    .my-float {
        margin-top: 16px;
    }
</style>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <!--Header-->
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <i class="ti-menu"></i>
                        </a>
                        <a href="/" class="header-logo">
                            <img class="img-fluid logo" src="/img/logo/cmc_logo.png" alt="Theme-Logo" /> CMC Maritime
                            Academy
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="ti-more"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav-right">
                            <li class="d-none d-md-inline-block">
                                <a href="/" class="waves-effect waves-light">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li class="d-none d-md-inline-block">
                                <a href="/dashboard" class="waves-effect waves-light">
                                    <span>Courses</span>
                                </a>
                            </li>
                            <li class="d-none d-md-inline-block">
                                <a href="/dashboard" class="waves-effect waves-light">
                                    <span>Packages</span>
                                </a>
                            </li>

                            <!-- <li class="header-notification">
                                <a href="#" class="waves-effect waves-light">
                                    <span>My Cart <img class="img-fluid cart-img" src="/vendor/opencart-brands.svg"
                                            alt=""></span>
                                    <span class="badge-cart">3</span>
                                </a>
                                <ul class="show-notification" id="cart">


                                </ul>
                            </li> -->


                            <li class="user-profile header-notification">
                                <a href="#!" class="waves-effect waves-light">
                                    <img src="/img/profilepic.png" class="img-radius" id="hdppic"
                                        alt="User-Profile-Image">
                                    <span id="hdpname"></span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <li class="waves-effect waves-light">
                                        <a href="/dashboard/profile">
                                            <i class="ti-user"></i> View Profile
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="/dashboard/mycourses">
                                            <i class="ti-notepad"></i> My Courses
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="/dashboard/feedback">
                                            <i class="ti-comment-alt"></i> Feedback
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="/dashboard/testimonial">
                                            <i class="ti-comment-alt"></i> Testimonial
                                        </a>
                                    </li>
                                    <li class="waves-effect waves-light">
                                        <a href="/dashboard/certificate">
                                            <i class="ti-file"></i> Certificate
                                        </a>
                                    </li>

                                    <li class="waves-effect waves-light">
                                        <a href="/logout">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--HEader over-->


            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <!--Side nav bar-->
                    <nav class="pcoded-navbar">
                        <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-80 img-radius" src="/img/profilepic.png" alt="User-Profile-Image"
                                        id="dashdppic">
                                    <div class="user-details" id="more-details" style="cursor: pointer;">
                                        <span id="dashdpname"> <i class="fa fa-caret-down"></i></span>
                                    </div>
                                </div>
                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="/dashboard/profile"><i class="ti-user"></i>View Profile</a>
                                            <a href="/dashboard/mycourses"><i class="ti-notepad"></i>My Courses</a>
                                            <a href="/dashboard/feedback"><i class="ti-comment-alt"></i>Feedback</a>
                                            <a href="/dashboard/testimonial"><i
                                                    class="ti-comment-alt"></i>Testimonial</a>
                                            <a href="/dashboard/certificate"><i
                                                    class="ti-comment-alt"></i>Certificate</a>

                                            <a href="/logout"><i class="ti-layout-sidebar-left"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-15"></div>
                            <div class="pcoded-navigation-label">My Card</div>
                            <ul class="pcoded-item pcoded-left-item">
                                <li class="active">
                                    <a href="/viewcart" class="waves-effect waves-dark">
                                        <span class="pcoded-mtext">Edit My Cart</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!--side nav bar over-->
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">My Cart</h5>
                                            <p>Courses added</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="/"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="/viewcart">mycart</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <!--MAIN CONTENT PROFILE  CONTENT-->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="container p-3 rounded cart">
                                            <div class="row no-gutters">
                                                <div class="col-md-8">
                                                    <div class="product-details mr-2">
                                                        <div class="d-flex flex-row align-items-center"><i
                                                                class="fa fa-long-arrow-left"></i><span
                                                                class="ml-2">Continue Booking</span></div>
                                                        <hr>
                                                        <h6 class="mb-0">My cart</h6>
                                                        <div class="d-flex justify-content-between"><span>You have <span
                                                                    id="cartcount">0</span>
                                                                items in your cart</span></div>
                                                        <!--Course booked-->
                                                        <div id="cartitem"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="payment-info">
                                                        <!-- <div class="d-flex justify-content-between align-items-center">
                                                            <span>Card details</span><img class="rounded"
                                                                src="https://i.imgur.com/WU501C8.jpg" width="30">
                                                        </div>
                                                        <span class="type d-block mt-3 mb-1">Card type</span><label
                                                            class="radio"> <input type="radio" name="card"
                                                                value="payment" checked> <span><img width="30"
                                                                    src="https://img.icons8.com/color/48/000000/mastercard.png" /></span>
                                                        </label>
                                                        <label class="radio"> <input type="radio" name="card"
                                                                value="payment"> <span><img width="30"
                                                                    src="https://img.icons8.com/officel/48/000000/visa.png" /></span>
                                                        </label>
                                                        <label class="radio"> <input type="radio" name="card"
                                                                value="payment"> <span><img width="30"
                                                                    src="https://img.icons8.com/ultraviolet/48/000000/amex.png" /></span>
                                                        </label>
                                                        <label class="radio"> <input type="radio" name="card"
                                                                value="payment"> <span><img width="30"
                                                                    src="https://img.icons8.com/officel/48/000000/paypal.png" /></span>
                                                        </label> -->
                                                        <!-- <div><label class="credit-card-label">Name on card</label><input
                                                                type="text" class="form-control credit-inputs"
                                                                placeholder="Name"></div>
                                                        <div><label class="credit-card-label">Card number</label><input
                                                                type="text" class="form-control credit-inputs"
                                                                placeholder="0000 0000 0000 0000"></div>
                                                        <div class="row">
                                                            <div class="col-md-6"><label
                                                                    class="credit-card-label">Date</label><input
                                                                    type="text" class="form-control credit-inputs"
                                                                    placeholder="12/24"></div>
                                                            <div class="col-md-6"><label
                                                                    class="credit-card-label">CVV</label><input
                                                                    type="text" class="form-control credit-inputs"
                                                                    placeholder="342"></div>
                                                        </div> -->
                                                        <div class="d-flex flex-row align-items-center"><i
                                                                class="fa fa-long-arrow-left"></i><span
                                                                class="ml-2">Check Out</span></div>
                                                        <hr class="line">
                                                        <div class="d-flex justify-content-between information">
                                                            <span>Subtotal</span><span>Rs. <span
                                                                    id="subtotal">0</span></span>
                                                        </div>

                                                        <div class="d-flex justify-content-between information">
                                                            <span>Discount <span id="disnumber">(0%)</span></span><span
                                                                id="disamount">Rs. 0</span>
                                                        </div>
                                                        <div class="d-flex justify-content-between information">
                                                            <span>Total(Incl. taxes)</span><span>Rs. <span
                                                                    id="finaltotal">0</span></span>
                                                        </div>
                                                        <div id="checkoutbtndiv">
                                                            <button id="checkoutbtn"
                                                                class="btn btn-primary btn-block d-flex justify-content-between mt-3"
                                                                type="button"><span>Rs. <span
                                                                        id="checkouttotal">0</span></span><span style="font-weight: bolder;
                                                                        font-size: 20px;">Checkout<i
                                                                        class="fa fa-long-arrow-right ml-1"></i></span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=919843655985&text=Help" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <div id="purchasetemplate" style="display: none;">
        <%- include('partial/coursepurchase.ejs'); %>
    </div>

    <!-- Required Jquery -->
    <script type="text/javascript" src="/vendor/jquery/jquery.min.js "></script>
    <script type="text/javascript" src="/vendor/jquery-ui.min.js "></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- waves js -->
    <script src="/vendor/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/vendor/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="/vendor/jquery.quicksearch.js"></script>


    <!-- menu js -->
    <script src="/js/pcoded.min.js"></script>
    <script src="/vendor/vertical-layout.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
        integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script type="text/javascript" src="/js/script.js "></script>
    <script src="/js/dash.js"></script>
    <script src="/js/custom/firebase.js"></script>
    <script src="/js/custom/mycart.js"></script>
    <!-- <script src="/js/custom/checkout.js"></script> -->
    <script src="/js/custom/application.js"></script>
    <script src="/js/custom/profilepic.js"></script>

</body>
<script>
    document.getElementById("checkoutbtn").addEventListener("click", async () => {
        var totalamount = document.getElementById("checkouttotal").innerHTML
        const mycartsitems = document.querySelectorAll(".mycartsitems")
        const mycartsitem = []
        const mycardid = []
        for (var i = 0; i < mycartsitems.length; i++) {
            mycardid.push(mycartsitems[i].id)
            mycartsitem.push(mycartsitems[i].firstElementChild.id)
        }
        console.log(mycartsitem, mycardid)
        sessionStorage.setItem("totalamount", totalamount)
        sessionStorage.setItem("mycartsitems", [mycartsitem])
        sessionStorage.setItem("mycardid", [mycardid])
        window.location.replace("/applicationform")
    })
</script>
<script>
    document.body.style.zoom = "100%";
</script>


</html>