#footer{
    background: rgb(3, 80, 150);
    padding-top: 30px!important;
}
section.footer-wave{
    width: 100%;
    background: #fff;
    overflow: hidden;
    height: 300px;
    position: relative;
  }
  
  section.footer-wave .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../img/wave1.png);
    background-size: 1000px 100px;
  } 
section.shipsection{
    position: relative;
}
  img.ship{
    animation: MoveUpDown 4s linear infinite;
    position: absolute;
    left: 20%;
    bottom: 0px;
    z-index: 999;
}
  
section.footer-wave .wave.wave1{
    animation: animate1 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0; 
} 
section.footer-wave .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 998;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px; 
} 
section.footer-wave .wave.wave3{
    animation: animate 30s linear infinite;
    z-index: 997;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15; 
} 
section.footer-wave .wave.wave4{
    animation: animate2 5s linear infinite;
    z-index: 996;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px; 
} 

@keyframes animate1{
    0%{
        background-position-x: 0;
    }    
    100%{
        background-position-x: 1000px ;
    }
}
@keyframes animate2{
    0%{
        background-position-x: 0;
    }    
    100%{
        background-position-x: -1000px ;
    }
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 70px;
    }
    50% {
      bottom: 90px;
    }
  }

  .youtube:hover{
    background: #bb0000!important;
    color: #fff;
  }
  .facebook:hover{
    background: #3B5998!important;
    color:#fff;
  }
  .instagram:hover{
    background: #125688!important;
    color: #fff;
  }
  .twitter:hover{
    background: #55ACEE!important;
    color: #fff;
  }
  .google-plus:hover{
    background: #dd4b39!important;
    color:#fff;
  }

  #footer .ph, #footer .ph a{
      color: #fff;
  }
  #footer .ph span{
      
    font-family: Arial, Helvetica, sans-serif;
  }