<header id="header" class="fixed-top ">
  <div id="sm-header">
    <nav class="thin-head navbar navbar-expand-lg d-none d-lg-flex">
      <ul class="navbar-nav mr-auto" id="brochuredata">

      </ul>
      <!-- <a href="/login" id="logindiv">Login</a>
      <a href="/signup" id="signupdiv">Signup</a> -->
      <a href="javascript:void(0)" id="mycartdiv" data-toggle="modal" style="display: none;"
        data-target="#exampleModal">
        My Cart<span id="cardcount">0</span>
      </a>

      <style>
        .modal-backdrop.show {
          opacity: .5;
          z-index: 1;
        }

        #mbbtn {
          display: none;
        }

        @media screen and (max-width:650px) {
          #mycartdiv {
            margin-left: 0px;
            font-size: 15px;
            font-family: "Poppins", sans-serif;
          }

          #mbbtn {
            display: block;
            width: 22%;
            margin: 5px;
            left: -162px;
            float: right;
            color: white;
          }

          #logindiv {
            margin-left: 0px;
            font-size: 15px;
            font-family: "Poppins", sans-serif;
          }
        }

        #mycartdiv {
          margin-left: 30px;
          font-size: 15px;
          font-family: "Poppins", sans-serif;
        }

        #ebroucher {
          font-size: 15px;
          font-family: "Poppins", sans-serif;
        }

        #logindiv {
          margin-right: 10px;
          font-size: 15px;
          font-family: "Poppins", sans-serif;
          margin-top: 3px;
          width: 64px;
        }

        #signupdiv {
          margin-right: 10px;
          font-size: 15px;
          font-family: "Poppins", sans-serif;
          margin-top: 3px;
          width: 64px;
        }

        .thin-head a {
          display: inline-block;
          text-align: center;
          color: #fff;
          padding: 5px 6px;
          border: 0px solid #155391;
        }

        #cardcount {
          background-color: white;
          padding: 0px 6px 0px 6px;
          color: black;
          border-radius: 34px;
          margin: 5px;
        }
      </style>
      <div class="modal fade" style="z-index: 1;" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">My Cart</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="show-notification" id="cart">
                <p id="cartdes" style="text-align: center;font-weight: bold;">Cart is Empty</p>

              </div>
            </div>

          </div>
        </div>
      </div>
      <ul class="navbar-nav ml-auto socialmedia">
        <li class="main-menu-header" id="profilehead">
          <img class="img-radius" src="/img/profilepic.png" style="width: 40px;border-radius: 50%;height: 40px;"
            alt="User-Profile-Image" id="dashdppic">
        </li>
        <li class="user-details" id="more-details" style="cursor: pointer;color: white;text-transform: capitalize;">

        </li>
        <li>
        <li>
          <nav class="nav-menu">
            <ul>
              <li class="drop-down" style="margin-right: 15px;margin-top: -5px;"> <span id="dashdpname"
                  style="color: white;"></span><i class="fa fa-caret-down" id="downarrow" style="margin: 5px;
                color: white;"></i>
                <ul id="userdropdown">
                  <li>
                    <a href="/dashboard/profile"><i class="ti-user"></i>View Profile</a><br>
                    <a href="/profiledit"><i class="ti-comment-alt"></i>Application</a><br>
                    <a href="/dashboard/mycourses"><i class="ti-notepad"></i>My Courses</a><br>
                    <a href="/dashboard/feedback"><i class="ti-comment-alt"></i>Feedback</a><br>
                    <a href="/dashboard/testimonial"><i class="ti-comment-alt"></i>Testimonial</a><br>
                    <a href="/dashboard/certificate"><i class="ti-comment-alt"></i>Certificate</a><br>
                    <a href="javascript:void(0)" onclick="logout()"><i class="ti-comment-alt" onclick="logout()"></i>Log
                      Out</a><br>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </li>
        </li>
        <li class="nav-item">
          <a href="/login" id="logindiv">Login</a>

        </li>
        <li class="nav-item">
          <a href="/signup" id="signupdiv">Signup</a>
        </li>
        <li class="nav-item">
          <a class="py-1" href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="py-1" href="https://www.facebook.com/cmcchennaiofficial"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="py-1" href="https://www.instagram.com/cmc_maritime_academy_chennai/"><i
              class="fa fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="py-1" href="https://www.youtube.com/channel/UCpLhH2j93cbeEz1vLS5c4pQ/featured"><i
              class="fa fa-youtube"></i></a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="container-fluid d-flex align-items-center my-2">

    <h1 class="logo">
      <a href="/">
        <div class="d-flex align-items-center">
          <img src="/img/logo.png" alt="" class="img-fluid mr-2">
          <div class="d-flex flex-column">
            <span class="d-inline-block d-lg-none">CMC</span>
            <span class="d-none d-lg-inline-block">CMC Maritime Academy</span>
            <span class="location">Chennai</span>
          </div>
        </div>
      </a>
    </h1>
    <nav class="nav-menu d-none d-lg-block ml-auto">

      <ul>
        <li <% if (page_name==='home' ) { %>class="active" <% } %> ><a href="/">Home</a></li>

        <li class="drop-down"><a href="#">About</a>
          <ul>
            <li <% if (page_name==='about' ) { %>class="active" <% } %> ><a href="/about">About Us</a></li>
            <li <% if (page_name==='team' ) { %>class="active" <% } %> ><a href="/team">Faculty</a></li>
            <li <% if (page_name==='testimonials' ) { %>class="active" <% } %> ><a href="/testimonials">Testimonials</a>
            </li>
          </ul>
        </li>
        <li><a href="/dashboard">Courses</a></li>
        <!-- <li class="drop-down"><a href="#">Courses</a>
          <ul>
            <li><a href="/dashboard" >Basic Modular Courses</a></li>
            <li><a href="/dashboard" >Advanced Modular Courses</a></li>
            <li><a href="/dashboard" >Preparatory Courses</a></li>
            <li><a href="/dashboard" >Refresher Courses</a></li>
            <li><a href="/dashboard" >Simulator Courses</a></li>
            <li><a href="/dashboard" >Package</a></li>
          </ul>
        </li> -->

        <li <% if (page_name==='academic' ) { %>class="active" <% } %> ><a href="/academic">Academic</a></li>
        <li <% if (page_name==='contact' ) { %>class="active" <% } %> ><a href="/contact">Contact</a></li>
        <li <% if (page_name==='testimonials' ) { %>class="active" <% } %> ><a href="/testimonials">Testimonials</a>

        <li><a class="get-started-btn ml-auto ml-lg-4" id="mbbtn" href="/login">Login</a></li>
        <li><a class="get-started-btn ml-auto ml-lg-4" id="mbbtn" href="/signup">Signup</a></li>

        </li>

        <!-- <li><a href="/login" id="login">Login/Signup</a></li> -->
      </ul>

    </nav><!-- .nav-menu -->

    <a href="#" id="bookbtn" class="get-started-btn ml-auto ml-lg-4" onclick="booknowbtn()">Book Now</a>

  </div>
</header>
<script src="https://www.gstatic.com/firebasejs/8.6.3/firebase.js"></script>
<script src="/js/custom/firebase.js"></script>
<script src="/js/custom/broucher.js"></script>
<script>
  var userid = sessionStorage.getItem("userid")
  function booknowbtn() {
    if (userid == null) {
      toastr["error"]("Please Login...")
      setTimeout(() => {
        window.location.replace("/login")
      })
    } else {
      window.location.replace("/dashboard")
    }
  }

  var savedcart = JSON.parse(localStorage.getItem("cart"))
  if (savedcart !== null) {
    var data = []
    for (var i = 0; i < savedcart.length; i++) {
      if (savedcart[i] != null) {
        data.push(savedcart[i])
        document.getElementById("cart").innerHTML += `
        <div class="waves-effect waves-light" >
            <div class="media">
                <div class="media-body">
                    <h5 class="notification-user">${savedcart[i].category}</h5>
                    <p>${savedcart[i].title} - Rs : ${savedcart[i].fees}</p>
                </div>
                <a class="discard btn btn-danger text-light" id="${i}" onclick='del(this.id)'>Discard</a>
            </div>
        </div >
        `
      }

    }
    document.getElementById("cardcount").innerHTML = data.length
    if (data.length == 0) {
      document.getElementById("cartdes").style.display = "block"
      document.getElementById("mycartdiv").style.display = "none"
    } else {
      document.getElementById("cartdes").style.display = "none"
      document.getElementById("mycartdiv").style.display = "block"
    }
  }


  function del(e) {
    var arr = savedcart;
    delete arr[e];
    localStorage.setItem("cart", JSON.stringify(arr))
    window.location.reload()

  }
  var userid = sessionStorage.getItem("userid")
  if (userid != null) {
    document.getElementById("logindiv").style.display = "none"
    document.getElementById("signupdiv").style.display = "none"
  } else {
    document.getElementById("profilehead").style.display = "none"
  }

  var db = firebase.firestore();
  var userid = sessionStorage.getItem("userid")
  if (userid == null) {
    document.getElementById("userdropdown").style.display = "none"
    document.getElementById("downarrow").style.display = "none"
  }

  db.collection("users").doc(userid).get().then((doc) => {

    if (doc.data() != undefined) {
      document.getElementById("dashdpname").innerHTML = `${doc.data().firstname} ${doc.data().lastname}`
      if (doc.data().profilepic !== undefined) {
        document.getElementById("dashdppic").src = `${doc.data().profilepic}`
      }
      // if (doc.data().application != true) {
      //     toastr["info"]("Please Complete Application Form..");
      //     setTimeout(() => {
      //         window.location.replace("/applicationform")
      //     }, 2000)
      // }
    }



  })

  function logout() {
    sessionStorage.removeItem("userid")
    window.location.replace("/")
  }
</script>